@import "tailwindcss";

:root {

  ---White: #ffffff;
  ---Stone-100: #f3e6d8;
  ---Stone-150: #e4ded8;
  ---Stone-600: #5f574e;
  ---Stone-900: #302d2c;
  ---Brown-800: #854632;
  ---Rose-800: #7b284f;
  ---Rose-50: #fff5fa;

}

@font-face {
  font-family: 'outfit';
  src: url('./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400 600 700;
}

@font-face {
  font-family: 'young-serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf')
    format('truetype');
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color:#ecd8c4 ;
}